:root
{
    --PrimaryContentColor: #B2B2B2;
    --PrimaryBackgroundColor: #212121;
    --BrighterBackgroundColor: #343434;
    --BrightBackgroundColor: #444444;
    --PrimaryBorderColor: #1B1B1B;
    --HoverBorderColor: #1B1B1B;
    --HoverBackgroundColor: #2D2D2D;
    --HoverColor: #D3D3D3;
    --FocusColor: #FFA800;
    --DarkerContentColor: #828282;
    --DarkContentColor: #1A1A1A;
    --BlueBackgroundColor: #0E82FF;
    --GreenBackgroundColor: #07C931;
    --RedBackgroundColor: #C40000;
    --GreyBackgroundColor: #3A3A3A;
    --SelectionColor: #0072BC;
    --TransparentSelectionColor: #0072BC88;
    --PrimaryFontFamily: "Arial";
    --BoldFontFamily: "Arial";
    --PrimaryFontSize: 8;
}

button
{
    min-width: 20px;
    height: 22px;
    margin-bottom: 4px;
    text-align: center;
    vertical-align: middle;
    color: var(--PrimaryContentColor);
    background-color: var(--PrimaryBackgroundColor);
    border-color: var(--PrimaryBorderColor);
    border-width: 2px;
    font-family: var(--PrimaryFontFamily);
    font-size: var(--PrimaryFontSize);
}

button:hover
{
    background-color: var(--HoverBackgroundColor);
    border-color: var(--HoverBorderColor);
}

button:focus
{
    border-color: var(--FocusColor);
}

button:active
{
    background-color: var(--FocusColor);
    border-color: var(--FocusColor);
    color: #000000;
}

button:checked
{
    background-color: var(--FocusColor);
    border-color: var(--FocusColor);
    color: #000000;
}

button.Button
{

}

button.Button::checkmark
{
    visibility: hidden;
}

button.ButtonLeft
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

button.ButtonRight
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

label
{
    height: 14px;
    min-width: 10px;
    color: var(--PrimaryContentColor);
    font-family: var(--PrimaryFontFamily);
    font-size: var(--PrimaryFontSize);
    background-color: #00000000;
}

label.Label
{

}

button.Toggle
{
    width: 13px;
    height: 15px;
    padding: 1px;
    background-color: var(--PrimaryBackgroundColor);
    border-color: var(--PrimaryBorderColor);
    border-width: 1px;
}

button.Toggle:hover
{
    background-color: var(--HoverBackgroundColor);
    border-color: var(--HoverBorderColor);
}

button.Toggle:focus
{
    border-color: var(--FocusColor);
}

button.Toggle:active
{
    background-color: var(--FocusColor);
    border-color: var(--FocusColor);
}

button.Toggle::checkmark
{
    color: var(--FocusColor);
    width: 9px;
    height: 11px;
}

inputbox
{
    height: 22px;
    min-width: 10px;
    margin-bottom: 4px;
    text-align: left;
    vertical-align: top;
    color: var(--PrimaryContentColor);
    background-color: var(--PrimaryBackgroundColor);
    border-color: var(--PrimaryBorderColor);
    border-width: 2px;
    font-family: var(--PrimaryFontFamily);
    font-size: var(--PrimaryFontSize);
    padding: 2px;
}

inputbox:hover
{
    background-color: var(--HoverBackgroundColor);
    border-color: var(--HoverBorderColor);
}

inputbox:focus
{
    border-color: var(--FocusColor);
}

inputbox.InputBox
{

}

slider .SliderHandle
{
    background-color: var(--PrimaryContentColor);
    border-radius: 6px;
    width: 12px;
    height: 12px;
}

slider .SliderHandle:hover
{
    background-color: var(--DarkerContentColor);
}

slider .SliderHandle:active
{
    background-color: var(--FocusColor);
}

slider.HorizontalSlider
{ }

slider.VerticalSlider
{ }

slider .SliderBackground
{
    background-color: var(--PrimaryBackgroundColor);
    border-color: var(--PrimaryBorderColor);
    border-width: 2px;
}

slider .SliderFill
{
    background-color: var(--PrimaryBorderColor);
    border-width: 2px;
    border-color: #00000000;
}

slider.HorizontalSlider .SliderBackground
{
    height: 10px;
    min-width: 10px;
}

slider.HorizontalSlider .SliderFill
{
    height: 10px;
    min-width: 10px;
}

slider.VerticalSlider .SliderBackground
{
    width: 10px;
    min-height: 10px;
}

slider.VerticalSlider .SliderFill
{
    width: 10px;
    min-height: 10px;
}

listbox
{
    min-width: 20px;
    height: 22px;
    margin-bottom: 4px;
    text-align: center;
    vertical-align: middle;
    color: var(--PrimaryContentColor);
    background-color: var(--PrimaryBackgroundColor);
    border-color: var(--PrimaryBorderColor);
    border-width: 2px;
    font-family: var(--PrimaryFontFamily);
    font-size: var(--PrimaryFontSize);
}

listbox:hover
{
    border-color: var(--HoverBorderColor);
}

listbox:focus
{
    border-color: var(--FocusColor);
}

listbox::arrow
{
    background-color: var(--BrighterBackgroundColor);
    color: var(--DarkContentColor);
    width: 20px;
}

listbox::arrow:hover
{
    color: var(--PrimaryContentColor);
}

listbox::arrow:active
{
    color: var(--FocusColor);
}

listbox.ListBox
{

}

slider-handle
{
    background-color: var(--BrighterBackgroundColor);
}

slider-handle:hover
{
    background-color: var(--PrimaryBackgroundColor);
}

slider-handle:active
{
    background-color: var(--FocusColor);
}

slider-handle.ScrollBarVerticalHandle
{
    width: 13px;
    min-height: 5px;
}

slider-handle.ScrollBarHorizontalHandle
{
    height: 13px;
    min-width: 5px;
}

slider-handle.ResizableScrollBarVerticalHandle
{
    width: 13px;
    min-height: 22px;
}

slider-handle.ResizableScrollBarHorizontalHandle
{
    height: 13px;
    min-width: 22px;
}

scrollbar
{
    background-color: var(--PrimaryBorderColor);
}

scrollbar.HorizontalScrollBar
{
    min-width: 30px;
    height: 13px;
}

scrollbar.VerticalScrollBar
{
    width: 13px;
    min-height: 30px;
}

scrollbar.ResizableHorizontalScrollBar
{
    min-width: 48px;
    height: 13px;
}

scrollbar.ResizableVerticalScrollBar
{
    width: 13px;
    min-height: 48px;
}

button.ScrollButton
{
    width: 13px;
    height: 13px;
    background-color: var(--BrighterBackgroundColor);
    border-width: 0px;
    margin: 0px;
}

button.ScrollButton:hover
{
    background-color: var(--PrimaryBackgroundColor);
}

button.ScrollButton:active
{
    background-color: var(--FocusColor);
}

button.Separator
{
    border-width: 0px;
}

button.Separator:hover
{
    background-color: var(--PrimaryBackgroundColor);
}

button.Separator:focus
{
    background-color: var(--PrimaryBackgroundColor);
}

button.Separator:active
{
    background-color: var(--PrimaryBackgroundColor);
}

button.DropDownEntryButton
{
    height: 16px;
    min-width: 30px;
    border-width: 0px;
    text-align: left;
}

button.DropDownEntryButton:active
{
    color: var(--PrimaryContentColor);
    background-color: var(--HoverBackgroundColor);
}

button.DropDownEntryUnderlay
{
    border-width: 0px;
    padding: 0px;
}

button.DropDownEntryUnderlay:active
{
    background-color: var(--HoverBackgroundColor);
}

.DropDownEntryExpandButtonArrow
{
    width: 15px;
    height: 15px;
    background-color: #00000000;
    border-width: 0px;
    padding: 0px;
}

.DropDownEntryExpandButtonArrow:hover
{
    background-color: #00000000;
}

texture
{
    background-color: #00000000;
}

texture.Texture {}

texture.DropDownEntrySeparator
{
    height: 2px;
    min-width: 30px;
    background-color: var(--PrimaryBorderColor);
}

container.GUIDropDownContent
{
    min-height: 20px;
    min-width: 50px;
}

texture.GUIDropDownBackgroundFrame
{
    background-color: var(--PrimaryBackgroundColor);
    border-color: #000000;
    border-width: 1px;
    padding: 4px;
}

texture.GUIDropDownScrollbarBackground
{
    background-color: var(--PrimaryBorderColor);
    border-color: #000000;
    border-width: 1px 0px 1px 1px;
    width: 9px;
    min-height: 8px;
}

button.GUIDropDownScrollbarButton
{
    background-color: var(--PrimaryBackgroundColor);
    color: var(--PrimaryContentColor);
    border-width: 0px;
    width: 8px;
    height: 8px;
}

button.GUIDropDownScrollbarButton:hover
{
    border-width: 0px;
    color: var(--HoverColor);
}

button.GUIDropDownScrollbarButton:focus
{
    border-width: 0px;
    color: var(--HoverColor);
}

texture.GUIDropDownScrollbarHandle
{
    width: 8px;
    min-height: 8px;
    background-color: var(--PrimaryBackgroundColor);
}

container.ProgressBar { }
texture.ProgressBarBackground { }
texture.ProgressBarFill { }

container.ProgressBar texture.ProgressBarBackground
{
    height: 27px;
    min-width: 20px;
    border-width: 2px;
    padding: 2px;
    border-color: #000000;
    background-color: var(--BrighterBackgroundColor);
}

container.ProgressBar texture.ProgressBarFill
{
    background-color: var(--FocusColor);
}

container.ProgressBarSmall texture.ProgressBarBackground
{
    height: 12px;
    min-width: 20px;
    border-width: 2px;
    padding: 2px;
    border-color: #000000;
    background-color: var(--BrighterBackgroundColor);
}

container.ProgressBarSmall texture.ProgressBarFill
{
    background-color: var(--FocusColor);
}

canvas { }
canvas.Canvas {}

.Blank
{
    background-color: #00000000;
    color: #00000000;
    border-width: 0px;
}

.Blank:hover
{
    background-color: #00000000;
}

.Blank:active
{
    background-color: #00000000;
}

.Blank:focus
{
    background-color: #00000000;
}